$bar-width: 24px;
$bar-height: 4px;
$bar-spacing: 8px;

#hamburger {
	padding: 0;
	margin: 0;
	border: 0;
	outline: none;
	background-color: transparent;
	width: 44px;
	height: 44px;
	padding: 10px;
	cursor: pointer;
}

.bar,
.bar:after,
.bar:before {
	width: $bar-width;
	height: $bar-height;
}

.bar {
	position: relative;
	background: $grey-900;
	transition: all 0ms 300ms;
	&.animate {
		background: rgba(255, 255, 255, 0);
	}
	&:before {
		content: "";
		position: absolute;
		left: 0;
		bottom: $bar-spacing;
		background: $grey-900;
		transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	&:after {
		content: "";
		position: absolute;
		left: 0;
		top: $bar-spacing;
		background: $grey-900;
		transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	&.animate:after {
		top: 0;
		transform: rotate(45deg);
		transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	&.animate:before {
		bottom: 0;
		transform: rotate(-45deg);
		transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
		;
	}
}